* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 10px;
}

.d-flex {
  display: flex;
}

.space-bet {
  justify-content: space-between
}

.al-center {
  align-items: center;
}


.col-50 {
  width: 50%;
}

li {
  list-style: none;
  padding: 20px 20px;

}

ul li a {
  text-decoration: none;
  color: grey;
  font-size: 20px;
  font-weight: 600;
  padding: 40px 0;
}

ul li a:hover,
ul li a.active {
  border-bottom: 5px solid #587DEC;
  color: #587DEC;

}